
/* --- text styling ---*/

body {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

.health {
	font-size: 12pt;
}


h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 24pt;
}

h3 {
	color: red;
	font-size: 16pt;
}

p,
li {
	font-size: 16pt;
}


ul li {
	list-style: none;
	text-align:left;
}


ul li:hover {
	color: red;
}

a {
	text-decoration: none;
	color: black;
}

a p:hover {
	color: red;
}



/* -- other styling */
div img {
	width: 15em;
	margin: 2em 2em 2em 2em;
	float: center;
  
}


div.contact {	
	background: url('../img/washi-blur.png') repeat;
}

div.contact div.row div.column:first-of-type {
	text-align: right;
}





div.health {
	background: url('../img/washi-blur.png') repeat;
		padding-top:2em;
	padding-bottom: 2em;
}


div.price ul li{
	float: left;
	text-align: center;
	border-radius: 50%;
	margin: .1em;
	padding: .7em .225em;
}

div.price ul {
	margin: 0em;
}

div.price {
	padding-bottom: 5em;
}

div.price ul li:nth-of-type(1){
	border: .15em solid #EBCF00;
	color: #EBCF00;
}
div.price ul li:nth-of-type(2){
	border: .15em solid #0FD8F2;
	color: #0FD8F2;
}
div.price ul li:nth-of-type(3){
	border: .15em solid red;
	color: red;
}
div.price ul li:nth-of-type(4){
	border: .15em solid green;
	color: green;
}



.menu div:nth-of-type(1) {
	border: .15em solid #EBCF00;
}
.menu div:nth-of-type(2) {
	border: .15em solid #EBCF00;

}
.menu div:nth-of-type(3) {
	border: .15em solid #0FD8F2;

}
.menu div:nth-of-type(4) {
	border: .15em solid #0FD8F2;

}
.menu div:nth-of-type(5) {
	border: .15em solid red;

}
.menu div:nth-of-type(6) {
	border: .15em solid red;

}
.menu div:nth-of-type(7) {
	border: .15em solid green;

}
.menu div:nth-of-type(8) {
	border: .15em solid green;

}

.menu div {
	float: left;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin-top: .6em;
	margin-left: .6em;
}

html body.body div.menu div + h2.item.fluid.basic.massive.ui.button#item#menu {
	color: black !important;
}


.menu ul {
	margin: 0;
	padding: 2em;
	background: url('../img/washi-blur.png') repeat;
}

.


/* Mobile */
@media screen and (min-width: 320px) {
	body {
   /* background-color: lightgreen; 
  }

}

/* Tablet */
@media screen and (min-width: 768px) {
  body {
    background: pink;  
  }


  
}

/* Desktop */
@media screen and (min-width: 1140px) {

    body {
      background: lightyellow;      
    }

}