
/* --- text styling ---*/

body {
	text-align: center;
	font-family: 'PT Sans', sans-serif;
}

.health {
	font-size: 12pt;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 24pt;
}

h3 {
	color: red;
	font-size: 16pt;
}

p,
li {
	font-size: 16pt;
}


ul li {
	list-style: none;
	text-align:left;
}

ul section:hover,
ul section ~ li:hover {
	color: red;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: red;
}



/* -- other styling */
div img {
	width: 15em;
	margin: 2em 2em 2em 2em;
	float: center;
  
}


div.contact,
div.menu ul{
	text-align: left;
	display: block;	
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	background: url('../img/washi.png') repeat;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top:2em;
	padding-bottom: 2em;
}

div.health {
	border-top: 2px solid grey;

}

div.price ul li{
	float: left;
	text-align: center;
	border-radius: 50%;
	padding: .4em;
	margin: .1em;
	height: 2.4em;
	width: 2.4em;
	color: white;
}

div.price {
	padding-bottom: 5em;
}

div.price ul li:nth-of-type(1){
	background-color: #EBCF00;
}
div.price ul li:nth-of-type(2){
	background-color: #0FD8F2;
}
div.price ul li:nth-of-type(3){
	background-color: red;
}
div.price ul li:nth-of-type(4){
	background-color: green;
}



.menu div:nth-of-type(1) {
	background-color: #EBCF00;
}
.menu div:nth-of-type(2) {
	background-color: #EBCF00;

}
.menu div:nth-of-type(3) {
	background-color: #0FD8F2;

}
.menu div:nth-of-type(4) {
	background-color: #0FD8F2;

}
.menu div:nth-of-type(5) {
	background-color: red;

}
.menu div:nth-of-type(6) {
	background-color: red;

}
.menu div:nth-of-type(7) {
	background-color: green;

}
.menu div:nth-of-type(8) {
	background-color: green;

}

.menu div {
	float: left;
	width: 2em;
	height: 2em;
	border-radius: 50%;

}

.menu h2 {
	margin: 1.5em;
}


/* Mobile */
@media screen and (min-width: 320px) {
	body {
   /* background-color: lightgreen; 
  }

}

/* Tablet */
@media screen and (min-width: 768px) {
  body {
    background: pink;  
  }


  
}

/* Desktop */
@media screen and (min-width: 1140px) {

    body {
      background: lightyellow;      
    }

}